@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 13% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 13% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 13% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 212 49% 65%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 210 10% 80%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 9.8% 85.1%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 269 45% 73%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 212 49% 65%;
    --chart-1: 212 49% 65%;
    --chart-2: 269 45% 73%;
    --chart-3: 182 25% 76%;
    --chart-4: 205 39% 44%;
    --chart-5: 209 96% 87%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 212 49% 65%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 269 45% 73%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 212 49% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
